.moonsofsaturnflex {
  padding: 1rem;
}

.moonsofsaturnflex h1 {
  padding: 0 1rem;
}

.moonsofsaturnflex h2 {
  font-size: 1.4rem;
}

.moonsofsaturnflex .button {
  font-size: 1.4rem;
}

.msFlexContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 2%;
}

.additionalLinks {
  border: 1px solid whitesmoke;
}

@media (min-width: 600px) {
  .msFlexContainer {
    flex-flow: row;
    flex-wrap: wrap;
    column-gap: 2%;
    row-gap: 4rem;
    justify-content: space-around;
    margin-bottom: 2rem;
  }

  .msFlexCard {
    flex-basis: 32%;
    flex-grow: 3;
  }
}

@media (min-width: 900px) {
  .msFlexContainer {
    align-items: flex-end;
    justify-content: flex-start;
  }
  .msFlexCard {
    flex-basis: 18.4%;
  }
}
