.card {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 3rem 1rem;
  border-bottom: 1px solid whitesmoke;
  gap: 0;
  align-items: center;
}

.card h2 {
  font-size: 1.2rem;
  margin-bottom: 0;
  text-align: left;
}

.card img {
  max-width: 100%;
  border-radius: 5px;
  grid-row: 1 / span 2;
}

.card p {
  margin: 0;
}

.card:last-child {
  border-bottom: none;
}

.feature img {
  grid-column: 1/3;
  grid-row: 2/3;
}

.feature.card p {
  display: block;
}

.feature.card p:last-child {
  grid-row: 3/4;
  margin-top: 2rem;
}

.feature.card p:not(:has(a)) {
  display: none;
}

@media (min-width: 500px) {
  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .card {
    grid-template-columns: 1fr;
  }

  .card h2 {
    font-size: 1.5rem;
  }

  .card img {
    grid-column: 1/2;
    grid-row: 2;
  }

  .card p:last-child {
    grid-row: 4;
  }

  .feature.card {
    grid-column: 1 / 3;
    border: 1px solid whitesmoke;
    padding: 1rem;
    border-radius: 5px;
  }

  .feature.card p:not(:has(a)) {
    display: block;
    padding-top: 2rem;
    grid-row: 3;
  }

  .feature.card p:last-child {
    grid-row: 4;
  }
}

@media (min-width: 700px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .feature.card {
    grid-column: 1 / 4;
  }
}

@media (min-width: 900px) {
  .card-container {
    max-width: 1200px;
    margin: 0 auto;
    grid-template-areas:
      'featured featured  earth'
      'featured featured  mars'
      'featured featured  jupiter'
      'saturn neptune pluto';
  }

  .card {
    border: 1px solid whitesmoke;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'title photo'
      'button photo';
    padding: 1rem;
    align-items: stretch;
  }

  .card h2 {
    grid-area: title;
  }
  .card img {
    grid-area: photo;
  }

  .card p:last-child {
    grid-area: button;
  }

  .feature.card {
    grid-area: featured;
    display: block;
  }

  .card:nth-child(2) {
    grid-area: earth;
  }

  .card:nth-child(3) {
    grid-area: mars;
  }

  .card:nth-child(4) {
    grid-area: jupiter;
  }

  .card:nth-child(5) {
    grid-area: saturn;
  }

  .card:nth-child(6) {
    grid-area: neptune;
  }

  .card:nth-child(7) {
    grid-area: pluto;
    border: 1px solid whitesmoke;
  }

  .button {
    font-size: 1.2rem;
  }
}
