@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --astroblue: #13446e;
  --border: #f5f5f5; /* whitesmoke */
  --darkerastroblue: #13446e80;
  --lighterastroblue: #048cf4;
}

@font-face {
  font-family: 'haymakerregular';
  src:
    url('./fonts/haymaker-webfont.woff') format('woff'),
    url('./fonts/haymaker-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'blanchcaps_inline';
  src:
    url('./fonts/blanch_caps_inline-webfont.woff') format('woff'),
    url('./fonts/blanch_caps_inline-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./fonts/noto-sans-v27-latin-regular.ttf');
  font-display: swap;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:
    'Noto Sans',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: whitesmoke;
  padding: 1.2rem;
}

.dark body {
  background-color: black;
}

h1 {
  font-family:
    'blanchcaps_inline',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  text-align: center;
  font-weight: normal;
  margin: 0;
  font-size: 4rem;
}
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: 'haymakerregular', sans-serif;
}
h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.5rem;
}

nav {
  font-family: system-ui, sans-serif;
}

/* Tone down the animation for those who 
prefer reduced motion */
.animate-pulse {
  animation-duration: 10s;
}
@media (prefers-reduced-motion) {
  .animate-pulse {
    animation: none;
  }
}

/* Needed to fix bug where setting border-top color is being 
overwritten by the reset border-color of 
*, ::before, ::after 
border-color: #e5e7eb; 
*/

*,
::before,
::after {
  border-color: inherit;
}
